.main-panel {
	width: 100% !important;
}

.main-panel .navbar.fixed-top {
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 2px 10px #ddd;
}

.main-panel .navbar.fixed-top .container-fluid,
.blue-header.card-header {
	background: #005677 !important;
	color: #fff;
}

.main-panel .navbar .navbar-brand {
	height: 100px;
}

.main-panel .navbar .navbar-brand h2 {
	font-size: 30px;
	padding-top: 15px;
}

.main-panel>.content {
	margin-top: 100px!important;
}

.coverage {
	font-size: 1.4em;
}

.row .ml-auto {
	max-width: 100%;
	margin-top: 10px;
}

.red {
	color: red;
}

.hidden {
	display: none!important;
}

table.coverage tr td:nth-child(2),
table.coverage tr td:nth-child(5) {
	width: 10px !important;
	padding-right: 0;
}

table.coverage tr td:nth-child(3),
table.coverage tr td:nth-child(6) {
	padding-left: 5px;
	padding-top: 15px;
}

.test-result-container .detail-row {
	padding-left: 40px;
	position: relative;
	font-weight: bold;
	padding-right: 50px;
	min-width: 300px;
	display: inline-block;
}

.test-result-container .detail-row i {
	position: absolute;
	top: -6px;
	left: 0;
}

.margin-left {
	margin-left: 1.5%;
}

.center {
	text-align: center!important;
	line-height: normal;
	font-size: 15px;
}

td.center {
	padding: 0px 8px !important;
}

.card .card-header-danger .card-icon {
	background: linear-gradient(60deg, #ee0036, #ee0036) !important;
}

.card .card-header-success .card-icon {
	background: linear-gradient(60deg, #9bc136, #9bc136) !important;
}

.card .card-header-warning .card-icon {
	background: linear-gradient(60deg, #58595b, #58595b) !important;
}

.count {
	width: 3%;
}

.table-hover {
	cursor: pointer;
}

a,
a:hover {
	color: #4b3939 !important;
}

.table.table-hover {
	border: 1px solid #ddd;
}

.table.table-hover thead tr th {
	background: #ddd;
	color: #555;
}

/*.table.table-hover thead tr th,
.table.table-hover tbody tr td {
	text-align: left;
	border-color: #eee;
	padding: 5px 15px;
	border-left: 1px solid #eee;
}
*/
a.navbar-brand {
	color: #fff !important;
}

a.navbar-brand>label {
	display: block;
	margin: 1%;
	color: #fff!important;
	font-size: 16px;
}

.sub {
	vertical-align: sub;
}

.small-td {
	width: 1%;
}

table.box,
div.box {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 21px;
	width: unset;
	border: 1px solid #d8d8d8;
	padding: 13px;
}

div.sub-element-result {
	width: 85%;
	margin-left: 10px;
}

td.mediumSize {
	word-break: break-all;
	width: 10vw;
}

td.large {
	word-break: break-word;
}

table {
	font-family: Helvetica, arial, sans-serif;
	border-collapse: collapse;
	border-color: #2c75a4;
	width: 100%;
}


/*th {
                background-color: #2c75a4;
                color: white;
            }*/

td,
th {
	border: 1px solid #d8d8d8;
	font-size: 18px;
	padding: 8px;
}

th {
	font-weight: bold;
}

tr {
	background-color: #f9f9f9;
	line-height: 25px;
}


/*tr:nth-child(even) {
                background-color: #f9f9f9!important;
                color: #313131;
            }*/

.blue-white {
	background-color: #2c75a4;
	color: white;
}

.left {
	text-align: left;
}

.main-panel .navbar .navbar-brand {
	height: 44px;
	font-weight: bold;
}

.content-main {
	min-height: unset;
	padding: unset;
	margin-top: 3vw !important;
}

footer {
	padding: unset !important;
}

.ths {
	background-color: #f9f9f9!important;
	color: #313131;
	font-weight: normal;
}

a.link {
	text-decoration: none;
	color: #005677 !important;
}

.nav-tabs .nav-link.active {
	font-weight: bold;
}

.nav-tabs .nav-link.active {
	border-color: #005677;
}

.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
	border-color: #005677;
}

.nav-tabs .nav-link {
	font-weight: bold;
	border: 1px solid #a8353545;
}

a.info-red,
div.info-red,
td.info-red {
	color: #ee4100;
    font-weight: 900;
}
a.info-orange,
div.info-orange,
td.info-orange {
	color: #ffa500;
    font-weight: 900;
}

a.info-yellow,
div.info-yellow,
td.info-yellow {
	color: #eea236;
    font-weight: 900;
}

a.info-green,
div.info-green,
td.info-green {
	color: #4e6108;
    font-weight: 900;
}

a.info-blue,
div.info-blue,
td.info-blue {
	background: white;
	color: #473af3;
    font-weight: 900;
}

th.center.blue-white {
	font-weight: bold;
}

button.btn {
	padding-left: 8px;
	padding-right: 9px;
	padding-bottom: 7px;
	padding-top: 8px;
}

button.info-yellow {
	background: white;
	color: #eea236;
}

button.info-blue {
	background: white;
	color: #473af3;
}

button.info-white {
	background: white;
	color: #524545;
}

button.info-green {
	background: white;
	color: #507d50;
}

button.info-red {
	background: white;
	color: #ee4100;
}

td.hasbtn {
	padding: 0px 0px !important;
}

.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
}

.label-date {
	color: #313131;
	margin-top: 1px;
}

div.card {
	margin-bottom: 0px;
	margin-top: 14px;
}

div.card-body {
	height: 43vw;
	overflow: auto;
}

div.card-body div.container {
	max-width: unset;
}

div.row>p {
	margin-top: 8px;
	margin-bottom: auto;
	margin-right: 10px;
	font-weight: bolder;
}

input.form-control {
	width: 33vw;
}

div.tab-pane.fade {
	overflow: overlay;
	height: 32vw;
}

.scenarioExec {
	color: #2c75a4;
	font-weight: bold;
	margin-bottom: 1px;
}

h1 {
	margin-bottom: 1px;
}

