			table.box, div.box {
				margin-left: 30px;
				margin-right: 30px;
				margin-top: 21px;
				width: unset;
				border: 1px solid #d8d8d8;
				padding: 13px;
				
			}
			div.sub-element-result {
				width: 85%; 
				margin-left: 10px;				
			}
			td.mediumSize {
				word-break: break-all;
				width: 10vw;
				
			}
			td.large {
				word-break: break-word;
				
			}
            table {
                font-family: Helvetica, arial, sans-serif;
                border-collapse: collapse;
                border-color: #2c75a4;
                width: 100%;
            }
            
            /*th {
                background-color: #2c75a4;
                color: white;
            }*/
            td, th {
                border: 1px solid #d8d8d8;
                font-size: 18px;
                padding: 8px;
            }
			th {
				font-weight: bold;				
			}
            tr {
                background-color: #f9f9f9;
                line-height: 25px;
            }

            /*tr:nth-child(even) {
                background-color: #f9f9f9!important;
                color: #313131;
            }*/
            
            .center {
                text-align: center;
            }
            
            .blue-white {
                background-color: #2c75a4;
                color: white;
            }
            
            .left {
                text-align: left;
            }
            .main-panel .navbar .navbar-brand {
				height: 44px;
			}
			.content-main {
				min-height: unset;
				padding: unset;
				margin-top: 3vw !important;				
			}
			footer {
				padding: unset !important;
			}
            .ths {
                background-color: #f9f9f9!important;
                color: #313131;
                font-weight: normal;
            }
            
            a.link {
                text-decoration: none;
				color: #005677 !important;
            }
			.nav-tabs .nav-link.active {
				font-weight: bold;
			}
			.nav-tabs .nav-link.active {
				border-color: #005677;
			}
			.nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
				border-color: #005677;
			}
			.nav-tabs .nav-link {
				font-weight: bold;
				border: 1px solid #a8353545;
			}
            .info-red {
				background-color: #ee4100; 
				color: white;				
			}
			.info-yellow {
				background-color: #ffe19d;
				color: black;				
			}
			.info-green {
				background-color: #8d9570; 
				color: white;				
			}
			.list-group-item{
				position: relative;
				display: block;
				padding: .75rem 1.25rem;
				margin-bottom: -1px;
				background-color: #fff;
				border: 1px solid rgba(0,0,0,.125);
				
			}
            .label-date {
                color: #313131;
                margin-top: 1px;
            }
			div.card {
				margin-bottom: 0px;
			}
			div.card-body {
				height: 43vw;
				overflow: auto;
			}
			div.card-body div.container {
				max-width: unset;				
			}
			div.row > p {
				margin-top: 8px;
				margin-bottom: auto;
				margin-right: 10px;	
				font-weight: bolder;				
			}
			input.form-control {
				width: 33vw;				
			}
            
            .scenarioExec {
                color: #2c75a4;
                font-weight: bold;
                margin-bottom: 1px;
            }
            
            h1 {
                margin-bottom: 1px;
            }
        